$primary-bg: #23272F;
$secondary-bg: #14161a;
$primary-color: #FFD43B;
$secondary-color: #ff6b00;
$primary-opacity-color: #FFD43B88;
$secondary-opacity-color: #ff6b0088;
$text-color: white;

$transition-standart: all 0.2s ease-in-out;

.input-container {
    display: flex;
    border-radius: 1rem;
    background: linear-gradient(135deg, $primary-bg 0%, $secondary-bg 100%);
    box-shadow: 10px 10px 20px #0e1013, -10px -10px 40px #383e4b;
    padding: 0.3rem;
    gap: 0.3rem;
  
    input {
        border-radius: 0.8rem 0 0 0.8rem;
        background: $primary-bg;
        box-shadow: inset 5px 5px 10px #0e1013, inset -5px -5px 10px #383e4b, 0px 0px 100px rgba(255, 212, 59, 0), 0px 0px 100px rgba(255, 102, 0, 0);
        width: 100%;
        flex-basis: 75%;
        padding: 1rem;
        border: none;
        border: 1px solid transparent;
        color: $text-color;
        transition: $transition-standart;
        caret-color: $primary-color;

        &:hover {
            box-shadow: inset 0px 0px 8px $secondary-opacity-color, inset 0px 0px 8px $primary-opacity-color, 0px 0px 40px $primary-opacity-color, 0px 0px 40px $secondary-opacity-color;
        }

        &:focus {
            box-shadow: inset 0px 0px 16px $secondary-opacity-color, inset 0px 0px 16px $primary-opacity-color, 0px 0px 100px $primary-opacity-color, 0px 0px 100px $secondary-opacity-color;
        }
    
        &:hover, &:focus {
            border: 1px solid $primary-color;
            outline: none;
        }
    }
  
    button {
        flex-basis: 25%;
        padding: 1rem;
        background: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
        box-shadow: 0px 0px 1px $primary-opacity-color, 0px 0px 1px $secondary-opacity-color;
        font-weight: 900;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        color: $text-color;
        border: none;
        width: 100%;
        border-radius: 0 1rem 1rem 0;
        transition: $transition-standart;
    
        &:hover {
            background: linear-gradient(135deg, mix($secondary-color, $primary-color, 50%) 50%, $secondary-color 100%);
            box-shadow: 0px 0px 100px $primary-opacity-color, 0px 0px 100px $secondary-opacity-color;
        }
    }
}
